.page {
    display: grid;
}
.header {
    display: flex;
    width: 90vw;
    height: 8vh;
    margin: auto;
    margin-top: 1vw;
    background: deepskyblue;
    border-top: 2px solid rgb(167, 243, 239);
    border-bottom: 2px solid rgb(167, 243, 239);
}
.header h1 {
    color: azure;
    margin: auto;
    font-weight: bold;
    font-size: 28px;
    /* margin-top: -2%; */
    /* margin-left: 24%; */
    
}
.header button {
    border: none;
    outline: none;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: black;
    background: azure;
    border-radius: 8%;
    color: rgba(0, 0, 0, 0.63);
    /* margin: 2%; */
    align-items: flex-end;
    /* margin: 0.7rem; */
}
.header #cart {
    max-width: 42px;
    /* margin-top: 30%; */
    /* margin-left: -4%; */
    /* margin: 10%; */
}
.header-right {
    /* margin: auto; */
    align-self: center;
}
.header button:hover {
    background-color: rgba(231, 248, 132, 0.76);
    color: black;
}
.header button:focus {
    box-shadow: 0 0 3pt 3pt rgba(82, 84, 230, 0.527);
}
.books {
    display: grid;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 20%;
    padding: 20% 20% 50%;
}
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background: #8678c5f3;
    color: azure;
    border-radius: 13%;
    margin: auto;
    padding: 30px;
    text-align: center;
    width: 20%;
    height: 50%;
    font-size: 1.2rem;
}
.close-modal {
    margin-top: 40%;
    font-weight: bold;
}
.none {
    display: none;
}